[user]
name = {{ macos_user }}
email = {{ macos_email }}

[core]
editor = vim

[alias]
a = add
c = commit
g = grep
l = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
s = status

[ghq]
root = {{ macos_gopath }}/src
