call plug#begin('{{ macos_home }}/.vim/plugged')
Plug 'cocopon/iceberg.vim'
Plug 'vim-airline/vim-airline'
Plug 'ryanoasis/vim-devicons'
Plug 'scrooloose/nerdtree'
Plug 'tpope/vim-fugitive'
Plug 'airblade/vim-gitgutter'
Plug '/usr/local/opt/fzf'
Plug 'junegunn/fzf.vim'
call plug#end()

if isdirectory('{{ macos_home }}/.vim/plugged/iceberg.vim')
  colorscheme iceberg
endif

if isdirectory('{{ macos_home }}/.vim/plugged/nerdtree')
  map <C-e> :NERDTreeToggle<CR>
endif

syntax enable
set number
set ruler
set list listchars=tab:»-,trail:-,eol:↲,extends:»,precedes:«,nbsp:%
set incsearch
set hlsearch
set showmatch
set whichwrap=h,l
set ignorecase
set smartcase
set hidden
set history=2000
set autoindent
set expandtab
set tabstop=2
set shiftwidth=2
set mouse=a
set encoding=utf8
set backspace=indent,eol,start
